* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: white;
    color: white;
    padding: 20px;
}

h1 img {
    width: 170px;
    height: 100px;
    object-fit: cover;
}

nav ul {
    background-color: #f0a5d0;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background-color: #757575;
}

nav li img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    object-fit: cover;
}

.contenido {
    display: flex;
    margin: 60px;
}


.articulos {
    width: 80%;
    border-right: 3px solid black;
}

.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
}

#fp {
    display: none;
}

#compra {
    display: none;

}

#pedidos {
    display: none;
}

#cajero {
    display: none;
}

#descuentos {
    display: none;
}

#telf {
    display: none;
}

#dir {
    display: none;
}

#pc {
    display: none;
}

#desc {
    display: none;
}

#rt {
    display: none;
}

#pas {
    display: none;
}

.contenido button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    margin: 0 auto;
}